* 	{
	margin:0;
	padding:0;	
}


#banner{
	margin-top:10px;
	background-image:url(../images/11.jpg);
	text-align:center;
	background-size:cover;
	width:100%;
}


#banner1{
	padding-top:60px;
	margin-top:0px;
	background-image:url(../images/awscloud.jpg);
	background-position:center;
	height:580px;
	text-align:center;
	background-size:cover;
	width:100%;
}
	
	
.logo	{
	position: fixed;
    	overflow: hidden;
    	display: block;
	left:30px;
	top:5px;			
}



#banner2{
	margin-top:0px;
	background-image:url(../images/nn.jpg);
	text-align:center;
	background-size:cover;
	width:100%;
}

#banner3{
	background-color:black;
	height:70px;
	text-align:center;
	position: fixed;
    	overflow: hidden;
    	display: block;
	z-index: 999;
	background-size:cover;
	width:100%;
}


#banner4{
	margin-top:10px;
	background-image:url(../images/sts.png);
	text-align:center;
	background-size:cover;	
}


#banner5{
	margin-top:0px;
	background-color:white;
	height:200px;
	text-align:center;
	background-size:cover;	
}


#banner6{
	margin-top:0px;
	background-image:url(../images/h1.png);
	height:15px;
	color:white;
	text-align:center;
	background-size:cover;
}



#banner7{
	margin-top:0px;
	background-image:url(../images/fo.png);
	box-shadow:inset 0 0 10px #000000;
	color:white;
	height:200px;
	text-align:center;
	background-size:cover;	
}


#banner8{
	margin-top:0px;
	background-image:url(../images/download.jpg);
	height:200px;
	color:white;
	text-align:center;
	background-size:cover;
}





#menu{
	width:100%;
	position: fixed;
    	overflow: hidden;
    	display: block;
	margin-top:10px;
	height:45px;
	z-index: 9999;
	}



.list{	
	margin-top:0px;
	font-size:20px;
	font-weight:600;
	float:right;
	list-style:none;
	margin-top:0px;
	margin-left:0px;}



li{	
	display:inline-block;
	margin-top:0px;
	padding:15px 15px;
	margin-left:20px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	cursor:pointer;
	text-align:center;
	color:white;}
li:hover{
	color:#ffb372;
}

ul li a:hover {
		font-weight:600;
	}



.button{
	position:relative;
	padding:10px 18px;
	background-color:black;
	margin-top:0px;
	margin-bottom:12px;
	color:white;
	text-align:center;
	font-size:18px;
	font-weight:800;
	font-family:'Open Sans', sans-serif;
   	border: 2px solid white;
	
	}

.button:hover {
		background-color:rgba(255, 255, 255, 0.25);	
		box-shadow: 0px 5px 0px 0px white;
	      }

.mya{
	color:white;
}



#container { 

margin-top:25px;  
padding: 20px 15px; 

}

#container .txtinput { 
display: block;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
text-align:center;
margin-bottom: 20px;
font-size: 3em;
padding: 6px 20px;
padding-left:20px;
width:50%;
color: #777;


}


#container .txtinput:focus
{ 
color: #333;

}


h3 {
letter-spacing: -0.04em;
font-weight: bold;
font-size: 2.8em;
margin-bottom: 0px;
}


fieldset {
    margin-top:0px;
    display: block;
    -webkit-margin-start: 3px;
    -webkit-margin-end: 3px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 18px;
    font-family: "sans-serif";
    text-align: center;
    padding: 15px 25px;
    padding-left:0px;
    width:106%;
}

#mydrop{
    height:50px;
    width:250px;
}


